
*{

    background-color: aqua;


}



    h1 {
        color:yellow;
        background:green;
    }

    p {

        color: black;
        font-size: 20px;
    }

    button {
        background: chartreuse;
        border-color: black;

    }